.mapFindCity{
    height: 100%;
    width: 100%;
}
.labelBac{
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    background-color: #37c090;
    border-radius: 50px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 12px;
    box-sizing:content-box;
    padding: 10px 10px;
}
.rectangleBac{
    display: flex;
    align-items: center;
    background-color: #37c090;
    opacity: 0.9;
    display: flex;
    color: #ffffff;
    font-size: 12px;
    box-sizing:content-box;
    border-radius: 4px;
    padding: 4px 6px;
}
.rectangleBacP{
    margin-left: 10px;
}
.triangle{
    width: 0;
    height: 0;
    margin: 0 auto;
    opacity: 0.9;
    border-top: 6px solid #37c090;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
// 弹出框
.popup{
    position: fixed;
    height: 0;
    bottom: 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: 0.5s all;
    overflow: hidden;
    background-color: #f4f4f4;
}
.showPopup{
    height: 266px;
    transition: 0.5s all;
}
.title{
    height: 36px;
    background-color: #c0bfc2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    width: 100%;
}
.moreHousr{
    font-size: 12px;
}
.houseList{
    overflow: hidden;
    background-color: #f4f4f4;
    overflow-y: scroll;
    height: 100%;
    padding-top: 36px;
}
//弹出框列表
.houseListItem{
   padding: 10px 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
    background-color: #ffffff;
}
.houseFont{
    margin-left: 12px;
}
.houseFont p{
   margin-bottom: 6px;
}
.houseFont div{
    margin-bottom: 6px;
 }
.secondP{
    color: #bfbfbf;
    font-size: 12px;
}
.thirdP{
    font-size: 12px;
    margin: 9px 0;
}
.thirdP span{
    margin-right: 8px;
    border-radius: 2px 0;
}
.thirdPspan1{
    color: #53bac4;
    padding: 2px 4px;
    background-color: #e8f4fb;
}
.thirdPspan2{
    color: #5cc79b;
    padding: 2px 4px;
    background-color: #dcf6ea;
}
.thirdPspan3{
    color: #71b1f6;
    padding: 2px 4px;
    background-color: #e0eff7;
}
.thirdPspan4{
    color: #70d4e0;
    padding: 2px 4px;
    background-color: #e1f1f2;
}
.forthP{
    color: #f37e6e;
    font-size: 10px;
}
.inForthPspan{
    color: #ef644e;
    font-size: 12px;
    font-weight: bold;
}






