.hello{color: red;}
#tab-bar.demo {display: flex;flex-direction: column;}
#tab-bar .demoName {height: 40px;}
#tab-bar .demo-preview-item .am-tab-bar {background-color: white;}

:global{
.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .am-tab-bar-tab {
    height: 100%;
 }
}

  